.headlinesTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.headlinesTop-category {
  flex: 1;
}
#headlines-hottest {
  width: 94.5%;
}
.headlines-header {
  background-color: #1417ac;
  color: #fff;
  height: 3.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10px;
  font-weight: bold;
  font-size: 17px;
}
.headlines-articles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}
#more-headlines {
  gap: 5vh;
}
.headlines-articles-items {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-top: 2vh;
  width: 190px;
}
.headlines-articles-text {
  font-weight: bolder;
  font-size: 18px;
}
.headlines-articles-items img {
  width: 190px;
  height: 107px;
}
#hottest {
  justify-content: space-between;
  width: 96%;
}
