body {
  font-family: sans-serif;
  margin: 0;
  direction: rtl;
}
#pContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
  gap: 2vh;
}
#ad2 {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  z-index: -1;
}
#flashNewsContainer {
  display: flex;
  flex-direction: row;
  background-color: #f3f8f9;
}
#flashnews {
  display: flex;
  flex-direction: row;
}
#flashnews :first-child {
  margin-right: 2vw;
}
.flashNewsItem {
  border-left: dotted 1px #000;
  padding-left: 35px;
  margin-left: 35px;
  height: 10vh;
  display: flex;
  align-items: center;
}
#flashNewsContainer a {
  display: flex;
  align-items: center;
  width: 12vw;
  text-decoration: none;
}
#mainArticle {
  display: flex;
  flex-direction: row;
  height: 45vh;
  gap: 5vw;
}
#mainArticleDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}
.mainTitle {
  font-size: 48px;
}
.mainDetails {
  font-size: 18px;
}
#imgContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainArticleImg {
  max-height: 100%;
}
#mainAuthor {
  color: #78787b;
}
