body {
  font-family: sans-serif;
  margin: 0;
  direction: rtl;
}
* {
  margin: 0;
}
#pContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
  gap: 2vw;
}
#ad2 {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  z-index: -1;
}
#ad2 img {
  width: 14vw;
}
#flashNewsContainer {
  display: flex;
  flex-direction: row;
  background-color: #f3f8f9;
}
#flashnews {
  display: flex;
  flex-direction: row;
}
#flashnews :first-child {
  margin-right: 2vw;
}
.flashNewsItem {
  border-left: dotted 1px #000;
  padding-left: 35px;
  margin-left: 35px;
  height: 10vh;
  display: flex;
  align-items: center;
}
#flashNewsContainer a {
  display: flex;
  align-items: center;
  width: 12vw;
  text-decoration: none;
}
#mainArticle {
  display: flex;
  flex-direction: row;
  height: 45vh;
  gap: 0;
}
#mainArticleDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  width: 50%;
  max-width: 50%;
  padding-left: 30px;
}
.mainTitle {
  font-size: 48px;
}
.mainDetails {
  font-size: 18px;
}
#imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  width: 50%;
}
#mainArticleImg {
  max-height: 100%;
  width: 100%;
  height: 100%;
}
#mainAuthor {
  color: #78787b;
}
.headlines-and-ads {
  display: flex;
  flex-direction: row;
  height: 55vh;
}
.side-ad {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.2vh;
  height: 100%;
}
.side-ad img {
  width: 300px;
  padding-left: 3vh;
  height: 100%;
}
#subArticleList {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: space-between;
}
.subArticleDetails {
  display: flex;
  height: 113px;
  color: #fff;
}

.subArticleDetails img {
  max-width: 200px;
  margin-left: 1vw;
}

.subArticleText {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: center;
}

.subArticleDetails p {
  font-size: 15px;
}

.subArticleText h1 {
  font-size: 19px;
}
.subArticleDetails span {
  font-size: 12px;
}
.subArticleDetails:nth-child(1) {
  background-color: #de1a1a;
}
.subArticleDetails:nth-child(2) {
  background-color: #1417ac;
}
.subArticleDetails:nth-child(3) {
  background-color: #de1a1a;
}
.subArticleDetails:nth-child(4) {
  background-color: #0c1c3a;
}
.headlinesTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.headlinesTop-category {
  flex: 1;
}
#headlines-hottest {
  width: 94.5%;
}
.headlines-header {
  background-color: #1417ac;
  color: #fff;
  height: 3.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10px;
  font-weight: bold;
  font-size: 17px;
}
.headlines-articles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}
#more-headlines {
  gap: 5vh;
}
.headlines-articles-items {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-top: 2vh;
}
#blankArticle {
  height: 181.59px;
  width: 190px;
}
.headlines-articles-text {
  font-weight: bolder;
  font-size: 18px;
}
.author {
  color: #78787b;
  font-size: 12px;
}
.headlines-articles-items img {
  width: 190px;
  height: 107px;
}
.main-news-container {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}
.side-news {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  font-size: 12px;
}
.main-news-items {
  width: 190px;
  font-size: 18px;
  font-weight: bolder;
  margin-left: 3vh;
}
.main-news-items img {
  height: 107px;
  width: 190px;
}
#main-news {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  width: 47%;
}
#news {
  flex: 1;
  width: 108vh;
}
#news-and-ads {
  height: 74vh;
}
#side-news-and-ads {
  gap: 20.3vh;
}
#side-news-and-ads img {
  height: 250px;
}
.side-news-items {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
